form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

form button{
    width: 110px;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 15px;
    text-align: center;
}

tr:last-child, td:last-of-type{
    border: 1px solid white;
}